openapi: 3.0.1
info:
  title: Learn RN e2e
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
- url: http://localhost:3434
tags:
- name: auth
paths:
  /login:
    post:
      tags:
      - auth
      summary: Login
      operationId: login
      requestBody:
        description: Login form
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestBody'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseBody'
  /register:
    post:
      tags:
        - auth
      summary: Registration
      operationId: register
      requestBody:
        description: Register user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequestBody'
      responses:
        200:
          description: OK

components:
  schemas:
    fields.Gender:
      type: integer
      description: |
        - 0: male
        - 1: female
        - 2: unknown
      enum:
        - 0
        - 1
        - 2
      example: 0
    LoginRequestBody:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
        - username
        - password
    LoginResponseBody:
      type: object
      properties:
        username:
          type: string
          example: 'moonlight'
        fullName:
          type: string
          example: "Dong Lao"
        gender:
          $ref: '#/components/schemas/fields.Gender'
        birthday:
          type: string
          format: date
          nullable: true
          example: '1997-12-18'
        tokenType:
          type: string
          enum:
            - Bearer
          example: Bearer
        authToken:
          type: string
          description: Using `supersecret` as secret
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkRvbmcgTGFvIiwiaWF0IjoxNTE2MjM5MDIyfQ.fCRwg0Z-tUWDdyaVKVWnfAefrPhh8sc3TuX14HxaB74
    RegistrationRequestBody:
      type: object
      properties:
        username:
          type: string
          example: username
        password:
          type: string
          example: password
        passwordConfirmation:
          type: string
          example: password
        fullName:
          type: string
          example: Full Name
        gender:
          $ref: '#/components/schemas/fields.Gender'
        birthday:
          type: string
          format: date
          example: '1997-12-18'
          nullable: true
      required:
        - username
        - password
        - passwordConfirmation
        - fullName
        - gender
        - birthday

  securitySchemes:
    apiKey:
      type: apiKey
      name: Bearer
      in: header
